@import url('https://fonts.googleapis.com/css2?family=Anek+Gujarati:wght@800&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}
header {
    font-family: 'Anek Gujarati', sans-serif;
    font-weight: 700;
    color: #112A46;
    background-color: #ACE6E0;
}

body    {
    font-family: 'Anek Gujarati', sans-serif;
    font-weight: 300;
    color: #112A46;

}

/* headings and Logo */

h1,h2{
    font-family: 'Anek Gujarati', sans-serif;
    letter-spacing: 6px;
    color: #112A46;

}

#logo   {
    float: left;
    font-size: 290%;
    background-color: #ACE6E0;
}
#menu   {
    font-size: 145%;
    letter-spacing: 6px;
}
#menu, #logo    {
    line-height: 85px;
}

#menu li    {
    float: right;
    list-style-type: none;
    margin-right: 45px;
    background-color: #ACE6E0;
}

#menu a     {
    text-decoration: none;
    color: inherit;
}

/* Change the link color to #B3F7F0 (black) on hover */

li a:hover {
  background-color: #B3F7F0;
}

/* Add an Active/Current Navigation Link*/

.active {
    border-bottom: 2px solid #2f6c8c;
}
