@import url('https://fonts.googleapis.com/css2?family=Anek+Gujarati:wght@800&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}
header {
    font-family: 'Anek Gujarati', sans-serif;
    font-weight: 700;
    color: #112A46
}

body    {
    font-family: 'Anek Gujarati', sans-serif;
    font-weight: 300;
    color: #112A46;

}

/* headings and Logo */

h1,h2{
    font-family: 'Anek Gujarati', sans-serif;
    text-transform: uppercase;
    letter-spacing: 6px;
    color: #112A46;

}

#logo   {
    float: left;
    font-size: 290%;
}